@{
    ViewBag.Title = "Xác Thực Email";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bạn đã xác thực được tài khoản hãy đăng nhập</h2>

<a href="/NguoiDung/DangNhap">
    <div style="padding: 10px 10px; display: flex; align-items: center; box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; ">
        <i class="fa fa-user" aria-hidden="true"></i>
        <div style="width:100px; margin-left:0px;">Đăng nhập</div>
    </div>
</a>